html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#book-entering-form {
  height: 350px;
  width: 250px;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) ;
}

.invisible{
  display: none;
}

.form-topper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#closing-button {
  display: inline-block;
  width: 15px;
  height: auto;
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
}

.book-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom:20px;
  gap: 5px;
}

#form-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 60px;
  
}