html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.darken {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  );
}

#page-header {
  text-align: center;
}

#library {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.book-container {
  border: 1px solid green;
  padding: 10px 50px;
}

.book-container-line {
  margin: 0px 0px 20px 20px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
}



.have-read {
  background-color: pink;
  box-shadow: 5px 5px 15px 5px #000000;
  display: flex;
  justify-content: center;
  padding: 15px;
}

#read-div {
  font-size: 25px;
  font-weight: bold;
}


.book-container, p, h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.book-container-remove {
  margin: 0px 0px 5px 20px;
  text-align: center;
}

.book-container-remove, button {
  font-size: 20px;
}

#book-entering-form {
  height: 350px;
  width: 250px;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 0 auto;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.invisible{
  display: none;
}

.form-topper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#closing-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  line-height: 18px;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
}

.book-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom:20px;
  gap: 5px;
}

#form-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 60px;
  
}

#page-footer {
  bottom: 0px;
  right: 0px;
  margin-left: auto;
  position: relative;
}

#show-book-entering-form {
  text-align: center;
  vertical-align: center;
  line-height: 50px;
  margin-left: auto;
  text-align: center;
  border: 1px solid blue;
  font-size: 80px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
}